<div class="container">
  <app-card
  cardCover="assets/bt-1.jpg"
  cardLabel="New Release"
  [cardPlatforms]='["PS5", "PC"]'
  cardPrice="$69.99"
  cardTitle="Battlefield 1"></app-card>
  <app-card
  cardCover="assets/bt-4.jpg"
  cardLabel="On Sale"
  [cardPlatforms]='["PS4", "PS5", "PC"]'
  cardPrice="$49.99"
  cardTitle="Battlefield 4"></app-card>
  <app-card
  cardCover="assets/bt-5.jpg"
  cardLabel="PS5 Exclusive"
  [cardPlatforms]='["PS5"]'
  cardPrice="$79.99"
  cardTitle="Battlefield 5"></app-card>
</div>
